    <header class="header">
        <div class="main-header">
            <a href="/" class="logo">
                <img src="/final-logo.png" alt="TATA1mg Labs Logo">
            </a>
            <nav aria-label="Main">
                <ul class="nav-menu">
                    <li><a href="/lab-tests/">Lab Tests</a></li>
                    <li><a href="/#health-packages">Health Packages</a></li>
                    <li><a href="/radiology/">Radiology</a></li>
                    <li><a href="/diagnostic-centre/">Locations</a></li>
                    <li><a href="/blog/">Blogs</a></li>
                    <li><a href="tel:+919650461818" data-contact="contact">Contact Us</a></li>
                </ul>
            </nav>
        </div>
    </header>
